
/* .table-responsive>.table-bordered {
    border: 2px solid #0a2f4d;
}

.backgroundheadingsection{
background:white;
padding:15px 10px;
margin:20px 0px;
}


thead {
    background: #34444c;
    text-align-last: center;
}
 .table td {
    vertical-align: middle;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    color: #000000;
    font-weight: 500;
    border: 1px solid #63c0cb;
    text-align-last: center;
}
tbody{
    text-align-last: center;

    }
    .table thead th, .table th a{
   color:white
}

.table td a{

    color: #fff;
    font-weight: 500;

} */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 1px;
    overflow: hidden;
}

.table thead tr {
    background-color: #34444c12 !important;
    color: #000;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 10px;
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #34444c;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table-cell-action {
    text-align: center;
}
.att-statistics .progress {
    height: 4px;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
    font-size: 12px;
    font-weight: 600;
}

.recent-activity .res-activity-time {
    color: #bbb;
    font-size: 12px;
    font-weight: 600;
}

.card .card-title {
    position: relative;
    font-weight: 600;
    font-size: larger;
    color: #1f1f1f;
}

.punch-det {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin: 0 0 20px;
    padding: 10px 15px;
}

.text-muted {
    color: #a09898 !important;
    font-weight: 500;
}

.punch-det h6 {
    line-height: 20px;
    margin: 0;
}

.punch-det p {
    color: #727272;
    font-size: 12px;
    margin: 0;
    font-weight: 600;
}

.punch-info {
    margin: 0 0 20px;
}

.punch-info .punch-hours {
    background-color: #f9f9f9;
    border: 5px solid #e3e3e3;
    font-size: 18px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.punch-btn-section {
    text-align: center;
    margin: 0 0 20px;
}

.punch-btn-section .punch-btn {
    font-size: 18px;
    font-weight: 600;
    max-width: 100%;
    padding: 8px 40px;
    border-radius: 50px;
}

.punch-status .stats-box {
    margin-bottom: 0;
}

.text-center {
    text-align: center !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.stats-box {
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    margin: 0 0 15px;
    padding: 5px;
    border-radius: 4px;
}

.att-statistics .stats-info {
    background-color: #ffffff;
    border: 5 solid #e5e5e5;
    text-align: center;
    border-radius: 4px;
    margin: 0 0 5px;
    padding: 15px;
}

.stats-info {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    text-align: center;
    border-radius: 4px;
    margin: 0 0 20px;
    padding: 15px;
}

.bg-success, .badge-success {
    background-color: #55ce63 !important;
}

.bg-danger, .badge-danger {
    background-color: #f62d51 !important;
}

.recent-activity .res-activity-list {
    height: 328px;
    list-style-type: none;
    overflow-y: auto;
    position: relative;
    margin: 0;
    padding: 0 0 0 30px;
}

.recent-activity .res-activity-list li {
    margin: 0 0 15px;
    position: relative;
}

.recent-activity .res-activity-list li:before {
    content: "";
    width: 10px;
    height: 10px;
    border: 2px solid #ff9b44;
    z-index: 2;
    background: #ffffff;
    border-radius: 100%;
    margin: 0 0 0 15px;
    position: absolute;
    top: 0;
    left: -45px;
}

.fa-clock-o:before {
    content: "\f017";
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    border: 1px solid #ededed;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.recent-activity .res-activity-list:after {
    content: "";
    border: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 4px;
}
